<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>parametroAplicacion</param-name>
        <param-value>valorParametroAplicacion</param-value>
    </context-param>
    <servlet>
        <servlet-name>Servlet1</servlet-name>
        <servlet-class>Servlets.Servlet1</servlet-class>
        <init-param>
            <param-name>parametroServlet1</param-name>
            <param-value>valorParametroServlet1</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>Servlet2</servlet-name>
        <servlet-class>Servlets.Servlet2</servlet-class>
        <init-param>
            <param-name>parametroServlet2</param-name>
            <param-value>valorParametroServlet2</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet1</servlet-name>
        <url-pattern>/Servlet1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Servlet2</servlet-name>
        <url-pattern>/Servlet2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
