<div class="small-card-container">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Mondeo</mat-card-title>
      <mat-card-subtitle>Ford</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://bluesky.cdn.imgeng.in/cogstock-images/cit-df24673311dd358a351821ea7de07c2efaa5b2a8.jpg?imgeng=/w_910/" alt="Photo of a Shiba Inu" />
    <mat-card-content>
      <p>
        Combine this sophisticated, intelligent design with meticulous
        craftsmanship and state-of-the-art technologies, and this is the most
        advanced Ford Mondeo ever. From LED headlamps that adjust their beam
        pattern to the surrounding conditions to a communications system you can
        operate with your voice. And from one feature that takes the stress out
        of parking to another that helps you stay in lane. Using intelligent
        technology, the car constantly reacts to what’s going on around it,
        continually responding to the road conditions, other traffic and your
        own driving. 
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
