<div class="small-card-container">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Fiat</mat-card-title>
      <mat-card-subtitle>500</mat-card-subtitle>
    </mat-card-header>
    <img
      mat-card-image
      src="https://th.bing.com/th/id/R.bf3422687869dccfa1c867cb42a8c8e7?rik=bCtZ2Fq2JOft3w&riu=http%3a%2f%2fimg404.imageshack.us%2fimg404%2f2185%2ffiat500barbie3.jpg&ehk=JAgCYoL40roKxyScnc9fiMRdUVs7Koc%2fhTDOVVo9Uvo%3d&risl=&pid=ImgRaw&r=0"
      alt="Photo of a Shiba Inu"
    />
    <mat-card-content>
      <p>
        The is the smallest of the six original and distinct spitz
        breeds of dog from Japan. A small, agile dog that copes very well with
        mountainous terrain, the Shiba Inu was originally bred for hunting.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
