<div class="alert {{color}} alert-dismissible fade show" role="alert">
    {{mensaje}}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
    <button type="button" class="btn btn-Primary">hola</button>
    <button type="button" class="btn btn-secondary">hola</button>
    <button type="button" class="btn btn-terciary">hola</button>
    <button type="button" class="btn btn-success">hola</button>
    <button type="button" class="btn btn-info">hola</button>
    <button type="button" class="btn btn-warning">hola</button>
    <button type="button" class="btn btn-danger">hola</button>
    <button type="button" class="btn btn-light">hola</button>
  </div>